.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #search {
    width: 70%;
  }
  
  #remove {
    margin-left: 10px;
  }
  
  #gif-area {
    margin-top: 20px;
  }
  
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .w-100 {
    width: 100% !important;
  }